 
  <div class="container">
        <div class="row">
            <div class=" col-md-2">
                <div class="col-md-2 sidebarWrapper">
                 
                    <img class="user-pic" src="./assets/images/image.jpg" alt="">
                    <!-- <div class="signature">
							<h3>John Doe</h3>
						</div>
                     -->
                    <div class="sidebar nav">
                        <div class="toggle-btn fixed">
                            <span class="lines"></span>
                        </div>
                        <ul class="nav stickyNav">
                            <li class="active">
                                    <a routerLink="/user/about" routerLinkActive="active">About Me</a>
                               
                            </li>
                            <li>
                                    <a routerLink="/user/education" routerLinkActive="active">Education</a>
                            </li>
                            <li>
                                <a href="#skills">Skills</a>
                            </li>
                            <li>
                                <a href="#workExperience">Work Experience</a>
                            </li>
                            <li>
                                <a href="#award">Award and Recognition</a>
                            </li>
                            <li>
                                <a href="#extraCurricular">Extra Curriculars</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <footer class="copyright">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-9 col-sm-offset-3 footer-background">
                                        <div class="row">
                                        <div class="col-sm-6 text-left">
                                            This is Resume Builder
                                        </div>
                                        <div class="col-sm-6 text-right">
                                           Design by Vibhash
                                        </div>
                                    </div>
                
                                    </div>
                                </div>
                            </div>
                        </footer>
                       
                </div>
            </div>
        </div>
    </div>
    
